/*****common*****/
body{
	padding:0;
	margin:0;
	font-size:12px;
	font-family:"微软雅黑";
	color:#333;
}
h1,h2,h3,h4,h5,h6,p,ul,li,dl,dd{
	margin:0;
	padding:0;
}
ul{list-style:none;}
a{
	text-decoration:none;
	color:#333;
}
a:hover{
	text-decoration:none;
	color:#333;
}
.lf{float:left;}
.rt{float:right;}
/***header***/
#header{
	width:100%;
	height:120px;
}
#header .top_box{
	width:990px;
	margin:0 auto;
}
#header .top_box .lf{
	width:284px;
	height:120px;
	background:url(images/TB2Sbb2fVXXXXatXXXXXXXXXXXX_!!1695308781.jpg)
	no-repeat;
}
/**nav**/
#nav{
	width:100%;
	height:31px;
	background:#20b4f0;
}
#nav .container{
	width:990px;
	height:31px;
	margin:0 auto;
}
#nav .container ul li{
	float:left;
}
#nav .container ul li a{
	color:#fff;
	font-size:15px;
	padding:0 23px;
	display:block;
	height:28px;
	line-height:28px;
}
#nav .container ul li:first-child a{
	height:31px;
	line-height:31px;
	background:#FA482C;
}
#nav ul li a:after {
	content:"";
	display:block;
	height:1px;
	width:0px;
	background:#fff;
	transition:all .3s;
	margin:0px auto 0;
}
#nav ul li a:hover:after {	
	width:100%;
	margin:-2px auto;
}
/***section***/
#section{
	margin-top:45px;
	height:770px;
}
#section .container{
	width:990px;
	margin:0 auto;
	position:relative;
}
#largeDiv{
	position:absolute;
	width:430px;
	height:430px;
	border:1px solid #ddd;
	top:0px;
	left:440px;
	z-index:999;
	background:#fff;
	display:none;
}
/*左边盒子*/
#section .container .lf{width:430px;}
#section .container .lf ul li{
	float:left;
	margin-left:22px;
	border:2px solid transparent;
}
#section .container .lf ul li:hover{
	border:2px solid #666;
}
#section .container .lf .m_img{
	position:relative;
}
#mask{
	position:absolute;
	 width: 180px;
    height: 180px;
	top:0;
	left:0;
	background:#ffa;
	opacity:0.6;
	display:none;
}
#superMask{
	position: absolute;
    width:430px;
    height: 430px;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: move;
}
}
#section .container .lf .l_img{
	margin-top:20px;
}
/*右边盒子*/
#section .container .rt .trans{margin-top:6px;}
#section .container .rt .details{
	margin-top:10px;
	height:38px;
	border:1px solid #ccc;
	border-left:none;
	border-right:none;
}
#section .container .rt .details ul{line-height:38px;}
#section .container .rt .details ul li{float:left;}
#section .container .rt .details ul li a{
	padding:0 35px;
	display:inline-block;
}
#shop_del{
	margin-top:20px;
	overflow:hidden;
	width:265px;
}
/*shop_del左*/
#shop_del ul.left{float:left;}
#shop_del ul.left li{
	color:#aaa;
	margin:30px 0;
}
/*shop_del右*/
#shop_del div.right{
	float:left;
	margin-left:35px;
	position:relative;
}
.black{
	float:left;
	padding-left:45px;
	padding-right:2px;
	height:40px;
	line-height:40px;
	border:1px solid #aaa;
	background:url("images/1_s.jpg")
	no-repeat;
	cursor:pointer;
}
.gold{
	float:left;
	padding-left:45px;
	padding-right:2px;
	margin-left:5px;
	height:40px;
	line-height:40px;
	border:1px solid #aaa;
	background:url("images/2_s.jpg")
	no-repeat;
	cursor:pointer;
}
.current{
	border:2px solid red;
}
#new{
	float:left;
	padding:5px;
	border:1px solid #aaa;
	cursor:pointer;
}
#old{
	float:left;
	margin-left:5px;
	padding:5px;
	border:1px solid #aaa;
	cursor:pointer;
}
#minus{
	float:left;
	width:15px;
	height:15px;
	text-align:center;
	line-height:15px;
	border:1px solid #aaa;
	cursor:pointer;
	-webkit-user-select:none;
}
#plus{
	float:left;
	margin-left:5px;
	width:15px;
	height:15px;
	text-align:center;
	line-height:15px;
	border:1px solid #aaa;
	cursor:pointer;
	-webkit-user-select:none;
}
#total{
	float:left;
	width:30px;
	height:20px;
	line-height:20px;
	text-align:center;
	border:1px solid #aaa;
	margin-top:-5px;
	margin-left:5px;
}
#content{margin-top:40px;}
#content a.content_l{
	display:inline-block;
	width:180px;
	height:38px;
	text-align:center;
	line-height:38px;
	border:1px solid #e4393c;
	color:#e4393c;
	margin-right:5px;
}
#content a.content_s{
	display:inline-block;
	width:180px;
	height:40px;
	text-align:center;
	line-height:40px;
	background:#e4393c;
	color:#fff;
}
/***footer***/
#footer .foot_main{
	width:1000px;
	margin:0 auto;
}
#footer .foot_main>.lf{
	width:190px;
}
#related_sorts>p{
  border: 1px solid #ddd;
  height: 28px;
  line-height: 28px;
  font: 14px/30px 'microsoft yahei';
  background-color: #f7f7f7;
  font-weight: 400;
  padding: 0 8px;
  font-size: 14px;
  color:#aaa;
}
#related_sorts ul{
  border: 1px solid #ddd;
  border-top: 0;
  overflow: hidden;
  padding: 4px 2px 4px 6px;
}
#related_sorts ul li{
	float:left;
	width:50%;
}
#related_sorts ul li a{
	padding:3px 6px 3px 0;
	color:#aaa;
}
#footer .foot_main .lf>p{font-size:0;}
#footer .foot_main>.rt{
	width:790px;
}
#footer .foot_main .rt .container ul li{
	float:left;
	cursor:pointer;
}
#footer .foot_main .rt .container ul li a{
	display:block;
	padding:0 40px;
	height:38px;
	line-height:38px;
	font-weight:bold;
	-webkit-user-select: none;
}
#footer .foot_main .rt .container ul li a:hover{
	color:#e4393c;
}
#footer .foot_main .rt .container ul li.cur a{
	background:#fff;
	height:42px;
	line-height:42px;
	border:1px solid #ddd;
	margin-top:-5px;
	border-top:2px solid red;
	border-bottom:none;
}
#pro_details>li{
	float:left;
	width:33%;
	padding:10px;
	color:#aaa;
}
/***底部背景图***/
#bg_picture p{
	font-size:0;
}
#promise{
  margin-top:10px;
  padding: 10px;
  overflow: hidden;
  border-top: 1px dotted #DEDEDE;
}
#state {
  padding: 10px;
  overflow: hidden;
  border-top: 1px dotted #DEDEDE;
}
#state span {
  font-weight: bold;
  color: #e4393c;
}
/**评价**/
#comment {
    margin-bottom: 10px;
	margin-top:20px;
    overflow: hidden;
}
.m_content {
  padding: 20px 0 0 0;
  border: 1px solid #ddd;
  border-top: none;
  clear: both;
  overflow: hidden;
}
/*好评度*/
div.rate {
    width:190px;
    padding: 20px 0 0;
    text-align: center; 
    float:left;
}
div.rate span {
    font: 400 46px/30px arial;
    color: #e4393c;
    font-weight:bold;
}
div.rate b {
    font-size: 24px;
    color: #e4393c;
    font-weight:normal;
}
div.rate p {
    color: #999;
    font-family: arial;
}
/*评价*/
div.percent {
    float: left;
    width: 186px;
    height: 74px;
    padding: 8px 0;
    border-right: 1px solid #E4E4E4;
}
div.percent dl {
    float:left;
    padding: 2px 0;
    overflow:hidden;
}
div.percent dt {
    float: left;
    width: 70px;
}
div.percent dt span {
    color: #9C9A9C;
}
div.percent dd {
    float: left;
    width: 100px;
    height: 10px;
    margin-top: 6px;
    overflow: hidden;
    background-color: #efefef;
}
div.percent dd p {
    overflow: hidden;
    height: 10px;
    background-image: linear-gradient(to bottom,#ED0000 0,#A50000 100%);
}
/*买家印象*/
div.buyers {
    width: 381px;
    float: left;
    position: relative;
    height: 85px;
    padding: 5px 15px 0;
    line-height: 15px;
    white-space: nowrap;
}
div.buyers p {
    line-height:15px;
}
div.buyers ul {
    width:398px;
}
div.buyers ul li {
    margin-top: 5px;
    float: left;
    height: 21px;
    line-height: 21px;
    padding: 0 7px;
    margin-right: 5px;
    background: #fdedd2;
    color: #333;
}
div.buyers ul li span {
    color: #999;
}
/**发表评价**/
.main_tabs {
  padding: 0px 8px;
  height: 28px;
  line-height: 28px;
  background-color: #F7F7F7;
  border: 1px solid #ddd;
  border-top: 2px solid #999;
}
.main_tabs li{
	float:left;
	margin-left:20px;
}
